node_modules
bun.lock
dist
BackupFormatTestDB
MyDatabase
scheduled-backups 
tasks.md
prd.md
TeroDB/account**.json
TeroDB/batch**.json
TeroDB/**test**.json
TeroDB/**user**.json
TeroDB/no_schema_doc.json
TeroDB/.wal
BenchmarkDB/.wal
BenchmarkDB/**.json
BenchmarkDB/.wal.2026-08-11T09-42-54-468Z
BenchmarkDB/.wal.**
.wal
BenchmarkDB/bat**
RecoveryTestDB/**
BenchDB/
RecoveryBench**
*.wal.**
